In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
home_values = pd.read_csv('Zip_Zhvi_AllHomes.csv', encoding='latin-1')
home_values.drop(columns={"RegionID"}, inplace=True)
home_values.rename(columns={"RegionName": "Zip_Code"}, inplace=True)
home_values['Zip_Code']=home_values['Zip_Code'].apply(lambda x: '{0:0>5}'.format(x))


incomedf = pd.read_csv('kaggle_income.csv', encoding='latin-1')
incomedf['Zip_Code']=incomedf['Zip_Code'].apply(lambda x: '{0:0>5}'.format(x))
Zip_Income = incomedf.groupby("Zip_Code").agg({"Median":'median'})
Zip_Income.reset_index(inplace=True)

In [3]:
Zip_Income.rename(columns={"Median":"Median_Income"}, inplace=True)
Zip_Income.head()

  Zip_Code  Median_Income
0    00601        15004.0
1    00602         9923.0
2    00603        14558.0
3    00605         9461.0
4    00606        15233.0

In [4]:
len(home_values.columns)

283

In [5]:
home_values.drop(home_values.iloc[:, 6:183], inplace=True, axis=1)
len(home_values.columns)

106

In [6]:
home_values["2010_to_Current_Average"]  = home_values.iloc[:, 6:106].mean(axis=1)
home_values.head()

,Zip_Code,City,State,Metro,CountyName,SizeRank,2011-01,2011-02,2011-03,2011-04,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2010_to_Current_Average
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,772100.0,767600.0,763600.0,754800.0,...,1084600,1079300,1072000,1064600,1049300,1024800,1008400,999100,985100,957015.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,285300.0,284400.0,282300.0,279300.0,...,347200,348500,350500,352500,352800,352600,352800,352100,350200,313288.0
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,1109400.0,1141900.0,1159800.0,1168400.0,...,1436000,1411000,1390900,1379600,1370600,1361700,1358400,1350000,1334100,1408003.0
3,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,247200.0,248400.0,249500.0,249200.0,...,338100,338500,337200,336200,336100,335300,334000,333400,333200,295385.0
4,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,330000.0,330400.0,329400.0,326900.0,...,430700,429800,429900,431300,431900,432000,431700,430100,428200,377378.0

In [7]:
Zip_Income["Abr_Zip"] = Zip_Income["Zip_Code"].astype(str).str[:3].astype(int)
Zip_Income["Abr_Zip"]= Zip_Income["Zip_Code"].apply(lambda x: '{0:0>3}'.format(x))

In [8]:
home_values["Abr_Zip"] = home_values["Zip_Code"].astype(str).str[:3].astype(int)
home_values["Abr_Zip"]= home_values["Abr_Zip"].apply(lambda x: '{0:0>3}'.format(x))

# home_values.set_index("Abr_Zip", inplace=True)
# Zip_Income.set_index("Abr_Zip", inplace=True)

In [9]:
rds_connection_string = "pg8000://postgres:Diego333@localhost:5432/ZipCodes"
engine = create_engine(f'postgresql+{rds_connection_string}')

In [10]:
home_values.to_sql(name='home_values', con=engine, if_exists='append', index=False)
Zip_Income.to_sql( name='income_by_zip', con=engine, if_exists='append', index=False)

In [ ]:
import warnings
warnings.filterwarnings("ignore")
#specify path
db_path="database.sqlite"
# Create Engine
engine = create_engine(f"sqlite:///{db_path}")
conn = engine.connect()

In [ ]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM loan", conn)
#Clean the dataframe

In [ ]:
data_clean=data[['zip_code', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc', 'emp_title', 'emp_length', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'dti']]
#Drop the xx from zip 
data_clean["zip_code"] = data_clean["zip_code"].str[:3]
data_clean.head()

In [ ]:
rds_connection_string = "pg8000://postgres:Diego333@localhost:5432/ZipCodes"
engine = create_engine(f'postgresql+{rds_connection_string}')

In [ ]:
data_clean.to_sql( name='loan_data', con=engine, if_exists='append', index=False)